.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
tsconfig.json
esbuild.js
**/*.ts
**/*.map
*.vsix
media/icons/**
dist/test/**
dist/commands/**
dist/core/**
dist/generators/**
dist/models/**
dist/ui/**
dist/utils/**
dist/*.d.ts
